/**
 * TimeApp Admin CSS
 * 
 * @package     TimeApp\Admin\CSS
 * @since       1.0.0
 */


/* Menu icons
-------------------------------------------------------------- */
@font-face {
    font-family: "timeapp";
    src:url("../font/timeapp.eot");
    src:url("../font/timeapp.eot?#iefix") format("embedded-opentype"),
        url("../font/timeapp.woff") format("woff"),
        url("../font/timeapp.ttf") format("truetype"),
        url("../font/timeapp.svg#timeapp") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "timeapp" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="timeapp-icon-"]:before,
[class*=" timeapp-icon-"]:before {
    font-family: "timeapp" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeapp-icon-time:before {
    content: "t";
    color: #999999;
    font: 400 16px/1 "timeapp";
    vertical-align: middle;
}
.timeapp-icon-artist:before {
    content: "c";
}
.timeapp-icon-play:before {
    content: "a";
}
.timeapp-icon-purchaser:before {
    content: "b";
}
.timeapp-icon-agent:before {
    content: "d";
}

#menu-posts-play .wp-menu-image:before {
    font-family: "timeapp";
    content: "a";
}

#menu-posts-purchaser .wp-menu-image:before {
    font-family: "timeapp";
    content: "b";
}

#menu-posts-artist .wp-menu-image:before {
    font-family: "timeapp";
    content: "c";
}

#menu-posts-agent .wp-menu-image:before {
    font-family: "timeapp";
    content: "d";
}


/* General styles
-------------------------------------------------------------- */
.timeapp-required {
    color: #ff0000;
    margin-left: 3px;
}

.divclearable {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    position: relative;
}

.clearlink {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 12px;
    width: 12px;
    border: 0px solid;
}

.timeapp-clear {
    clear: both;
}

.timeapp-half {
    width: 50%;
    float: left;
}

.timeapp-third {
    width: 33%;
    float: left;
}

#timeapp-deposits .timeapp-third {
    width: auto;
    margin-right: 10px;
}

.post-type-purchaser #post-query-submit,
.post-type-artist #post-query-submit,
.post-type-agent #post-query-submit {
    display: none;
}

/* Custom field styles
-------------------------------------------------------------- */
.timeapp-datetime {
    max-width: 100%;
}

.post-type-play textarea,
.post-type-purchaser textarea,
.post-type-artist textarea {
    width: 500px;
    max-width: 100%;
}

.timeapp-select2 {
    width: 225px;
    max-width: 100%;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }


/* Meta box styles
-------------------------------------------------------------- */
.timeapp-action-delete {
    float: right;
    vertical-align: middle;
    line-height: 28px;
}

.timeapp-action-delete a {
    text-decoration: none;
    color: #a00;
}

.post-type-play #edit-slug-box,
.post-type-purchaser #edit-slug-box,
.post-type-artist #edit-slug-box,
.post-type-agent #edit-slug-box {
    display: none;
}

.post-type-play #submitdiv,
.post-type-purchaser #submitdiv,
.post-type-artist #submitdiv,
.post-type-agent #submitdiv {
    display: none;
}

div#actions_top .button,
div#actions_bottom .button {
    margin-right: 10px;
}

div#actions_top div.inside,
div#actions_bottom div.inside {
    margin-top: 12px;
}

.post-type-play iframe {
    width: 100%;
    margin: 0 auto;
}

.post-type-artist .button {
    margin-right: 10px;
}

.timeapp-contract-log-toggle:hover {
    cursor: pointer;
}

.timeapp-contract-log {
    border: 1px solid #ddd;
    width: 50%;
    display: block;
    padding-right: 10px;
    display: none;
}

.timeapp-contract-log-item {
    width: 100%;
    display: block;
    padding: 3px 5px;
}

.timeapp-contract-log-item-odd {
    background: #f9f9f9;
}


/* Widget styles
-------------------------------------------------------------- */
.timeapp-dashboard-widget table {
    width: 100%;
}

.timeapp-dashboard-widget table thead td {
    border-bottom: 1px solid #ececec;
    color: #777;
    font-weight: bold;
}

.timeapp-dashboard-widget table thead td span {
    font-size: .8em;
    float: right;
}

.timeapp-dashboard-widget table.timeapp-follow-up-widget tbody tr td:first-child,
.timeapp-dashboard-widget table.timeapp-past-due-deposits-widget tbody tr td:first-child,
.timeapp-dashboard-widget table.timeapp-commissions-due-widget tbody tr td:first-child,
.timeapp-dashboard-widget table.timeapp-split-commissions-widget tbody tr td:first-child {
    padding-left: 15px;
    color: #777;
    font-weight: bold;
}

.timeapp-dashboard-widget table.timeapp-past-due-deposits-widget tbody tr td:last-child,
.timeapp-dashboard-widget table.timeapp-split-commissions-widget tbody tr td:last-child {
    width: 82px;
    text-align: right;
}

.timeapp-dashboard-widget table.timeapp-past-due-deposits-widget,
.timeapp-dashboard-widget table.timeapp-commissions-due-widget {
    margin-bottom: 10px;
}

.timeapp-dashboard-widget .timeapp-dashboard-notes {
    display: block;
    margin-top: 5px;
}

.timeapp-dashboard-widget .button {
    float: right;
}

.timeapp-dashboard-widget .timeapp-clear {
    height: 15px;
}

.timeapp-dashboard-widget textarea {
    width: 100%;
}

.timeapp-dashboard-widget-filters {
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.timeapp-dashboard-widget-filters input[type="select"] {
    max-width: 45%;
}


/* PDF preview styles
-------------------------------------------------------------- */
.timeapp-pdf-preview {
    width: 100%;
}

.timeapp-pdf-preview-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px 0;
}

.timeapp-pdf-preview thead th {
    font-weight: bold;
}

.timeapp-pdf-preview tbody tr td:first-child {
    color: #777;
    font-weight: bold;
}

#timeapp-pdf-preview .button {
    margin-right: 15px;
}

.timeapp-colorbox-holder {
    display: none;
}

#timeapp-pdf-preview .timeapp-status-contracted {
    font-weight: bold;
    color: #7ad03a;
}

#timeapp-pdf-preview .timeapp-status-hold {
    font-weight: bold;
    color: #304e94;
}

#timeapp-pdf-preview .timeapp-status-cancelled {
    font-weight: bold;
    color: #dd3d36;
}


/* Dashboard column styles
-------------------------------------------------------------- */
th.manage-column.column-commission,
th.manage-column.column-status {
    width: 100px;
    text-align: center;
}

td.status.column-status div,
td.commission.column-commission div {
    color: #fff;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

td.commission.column-commission .timeapp-commission-paid,
td.status.column-status .timeapp-contract-contracted {
    background: #7ad03a;
    border: 1px solid #5ebb17;
}

td.status.column-status .timeapp-contract-hold {
    background: #304e94;
    border: 1px solid #1b397c;
}

td.commission.column-commission .timeapp-commission-unpaid,
td.status.column-status .timeapp-contract-cancelled {
    background: #dd3d36;
    border: 1px solid #ba2018;
}

