/**
 * TimeApp Admin CSS
 * 
 * @package     TimeApp\Admin\CSS
 * @since       1.0.0
 */


/* Menu icons
-------------------------------------------------------------- */
@font-face {
    font-family: "timeapp";
    src:url("../font/timeapp.eot");
    src:url("../font/timeapp.eot?#iefix") format("embedded-opentype"),
        url("../font/timeapp.woff") format("woff"),
        url("../font/timeapp.ttf") format("truetype"),
        url("../font/timeapp.svg#timeapp") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "timeapp" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="timeapp-icon-"]:before,
[class*=" timeapp-icon-"]:before {
    font-family: "timeapp" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.timeapp-icon-time:before {
    content: "t";
    color: #999999;
    font: 400 16px/1 "timeapp";
    vertical-align: middle;
}
.timeapp-icon-artist:before {
    content: "c";
}
.timeapp-icon-play:before {
    content: "a";
}
.timeapp-icon-purchaser:before {
    content: "b";
}

#menu-posts-play .wp-menu-image:before {
    font-family: "timeapp";
    content: "a";
}

#menu-posts-purchaser .wp-menu-image:before {
    font-family: "timeapp";
    content: "b";
}

#menu-posts-artist .wp-menu-image:before {
    font-family: "timeapp";
    content: "c";
}


/* Meta box styles
-------------------------------------------------------------- */
