/**
 * TimeApp Login CSS
 *
 * @package     TimeApp\Login\CSS
 * @since       1.0.0
 */


/* Login logo
-------------------------------------------------------------- */
.login h1 a {
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: contain !important;
    width: 300px !important;
    margin: 0 10px !important;
}

p.message, div#login_error {
    margin-top: 20px;
}
